<%= render partial: "shared/breadcrumbs", object: @breadcrumbs, as: 'items' %>

<div class="row">
	<div class="col-6 card">
		<h2 class="mt-2">Editing Record</h2>
		<hr/>

		<%= render 'form', mill_machine: @mill_machine, url: mill_machine_path(@mill, @mill_machine) %>

		<div class="btn-group">
			<%= link_to 'Show', mill_machine_path(@mill, @mill_machine),
				class: 'btn btn-block btn-outline-primary my-3' %>
			<%= link_to 'Back to all records', mill_machines_path(@mill),
				class: 'btn btn-block btn-outline-primary my-3' %>
		</div>
	</div>
</div>
