<div class="row">
	<div class="col-6">
		<h1>Add Machine to Mill</h1>
		<hr/>

		<%= render partial: 'form', locals: { mill: @mill, mill_machine: @mill_machine, url: mill_machine_form_path(@mill_machine) } %>

		<%= link_to 'Back to all records', mill_machines_path(@mill), class: 'btn btn-outline-primary mt-3' %>
	</div>
</div>
