<p class="text-secondary p-2">
<strong><%= metadata[:model] %></strong>  
<% if metadata[:maker] != 'All' %>
	by <strong><%= metadata[:maker] %></strong> 
<% end %>
in <strong><%= metadata[:section] %></strong>
</p>
