<div class="row">
	<table class="table table-bordered">
		<thead class="thead-dark">
			<tr>
				<th scope="col">Mill Code</th>
				<th scope="col">Mill Name</th>
				<th scope="col">Total</th>
				<th scope="col">Section</th>
				<th scope="col">Machine Name</th>
				<th scope="col">Quantity</th>
			</tr>
		</thead>

		<tbody>
			<%= render partial: 'type_machine_mill_result', collection: results, as: 'result' %>
		</tbody>
	</table>
</div>
