<h1>Editing Mill Machine Belt</h1>

<%= render 'form', mill_machine_belt: @mill_machine_belt %>

<%= link_to 'Show', mill_machine_belt_path(@mill, @mill_machine, @mill_machine_belt) %> |
<%= link_to 'Back', mill_machine_belts_path(@mill, @mill_machine) %>
