<div class="row">
	<div class="col-2 text-right">
		<strong>Belt:</strong>
	</div>
	<div class="col-5">
		<%= @mill_machine_belt.belt.grade %>
	</div>
</div>

<div class="row">
	<div class="offset-md-1">
		<%= link_to 'Back', mill_machine_belts_path, class: 'btn btn-outline-primary mt-3' %>
	</div>
</div>
