<%= render partial: "shared/breadcrumbs", object: @breadcrumbs, as: 'items' %>

<div class="row">
	<table class="table table-bordered w-50">
		<tr>
			<th>Belt Grade</th>
			<td><%= @mill_machine_belt.belt.grade %></td>
		</tr>
	</table>
</div>

<div class="row">
		<%= link_to 'Back to all records', mill_machine_belts_path, class: 'btn btn-outline-primary mt-3' %>
</div>
