<div class="row">
	<div class="col-6">
		<h1>Create a New Mill Record</h1>
		<hr/>

		<%= render 'form', mill: @mill %>

		<%= link_to 'Back to all records', mills_path, class: 'btn btn-outline-primary mt-3' %>
	</div>
</div>
