<%= render partial: "shared/breadcrumbs", object: @breadcrumbs, as: 'items' %>
<div class="row">
	<div class="col-6 card">
		<h2 class="mt-2">Create a New Mill Record</h2>
		<hr/>

		<%= render 'form', mill: @mill %>

		<%= link_to 'Back to all records', mills_path, class: 'btn btn-outline-primary my-3' %>
	</div>
</div>
