<%= render partial: "shared/breadcrumbs", object: @breadcrumbs, as: 'items' %>
<div class="row">
	<div class="col-6 card">
		<h2 class="mt-2">Editing Machine Record</h2>
		<hr/>

		<%= render 'form', machine: @machine %>

		<div class="btn-group">
			<%= link_to 'Show Record', @machine, class: 'btn btn-block btn-outline-primary my-3' %>
			<%= link_to 'Back to all records', machines_path, class: 'btn btn-block btn-outline-primary my-3' %>
		</div>
	</div>
</div>
