<div class="row">
	<div class="col-6">
		<h1>Editing Machine Record</h1>

		<%= render 'form', machine: @machine %>

		<%= link_to 'Show Record', @machine, class: 'btn btn-outline-primary mt-3' %>
		<%= link_to 'Back to all records', machines_path, class: 'btn btn-outline-primary mt-3' %>
	</div>
</div>
