<%= render partial: "shared/breadcrumbs", object: @breadcrumbs, as: 'items' %>
<div class="row">
	<div class="col-6 card">
		<h2 class="mt-2">Create a New Machine Record</h2>
		<hr/>

		<%= render 'form', machine: @machine %>

		<%= link_to 'Back to all records', machines_path, class: 'btn btn-outline-primary my-3' %>
	</div>
</div>
