<div class="row">
	<div class="col-6">
		<h1>Editing Belt Record</h1>
		<hr/>

		<%= render 'form', belt: @belt %>

		<%= link_to 'Show Record', @belt, class: 'btn btn-outline-primary mt-3' %>
		<%= link_to 'Back to all records', belts_path, class: 'btn btn-outline-primary mt-3' %>
	</div>
</div>
