<div class="row">
	<div class="col-6">
		<h1>Create a New Belt Record</h1>
		<hr/>

		<%= render 'form', belt: @belt %>

		<%= link_to 'Back to all records', belts_path, class: 'btn btn-outline-primary mt-3' %>
	</div>
</div>
