<div class="row">
	<table class="table table-bordered w-50">
		<tr>
			<th>Grade</th>
			<td><%= @belt.grade %></td>
		</tr>
	</table>
</div>

<div class="row">
	<div class="btn-group">
		<%= link_to 'Edit record', edit_belt_path(@belt), class: 'btn btn-outline-primary mt-3' %>
		<%= link_to 'Back to all records', belts_path, class: 'btn btn-outline-primary mt-3' %>
	</div>
</div>
